@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:tan">
    <h1 style="color:white; font-family:'Ink Free'; ">AVOCADO</h1>
    <p class="lead">Avocado provides you with a comprehensive and tailor-made health service.</p>
    <img src="~/images/Feb02.jpg" alt="background" class="img-thumbnail" />
</div>
